apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "craftique-frontend.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "craftique-frontend.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.annotations | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  strategy:
    {{- toYaml .Values.strategy | nindent 4 }}
  selector:
    matchLabels:
      {{- include "craftique-frontend.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "craftique-frontend.selectorLabels" . | nindent 8 }}
        {{- with .Values.labels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.governanceLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "craftique-frontend.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: frontend
          image: {{ include "craftique-frontend.image" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          ports:
            - name: http
              containerPort: {{ .Values.service.targetPort }}
              protocol: TCP
          env:
            - name: NEXT_PUBLIC_API_BASE_URL
              value: {{ .Values.env.NEXT_PUBLIC_API_BASE_URL | quote }}
          volumeMounts:
            {{- if .Values.volumes.tmp.enabled }}
            - name: tmp
              mountPath: /tmp
            {{- end }}
            {{- if .Values.volumes.nextjsCache.enabled }}
            - name: nextjs-cache
              mountPath: {{ .Values.volumes.nextjsCache.path }}
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      volumes:
        {{- if .Values.volumes.tmp.enabled }}
        - name: tmp
          emptyDir: {}
        {{- end }}
        {{- if .Values.volumes.nextjsCache.enabled }}
        - name: nextjs-cache
          emptyDir: {}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
